{% extends 'back/base.html' %}


{% block content %}

<div class="row">
    <div class="col-lg-12">
      <div class="card-wrapper">
        <!-- Form controls -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <h3 class="mb-0">Edit jadwal</h3>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <form method="POST">
                {% csrf_token %}
              <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Tanggal</label>
                <input name="tanggal" type="text" class="form-control" id="exampleFormControlInput1" placeholder="tanggal" value="{{jadwal.tanggal}}">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Imsyak</label>
                <input name="imsyak" type="text" class="form-control" id="exampleFormControlInput1" placeholder="imsyak" value="{{jadwal.imsyak}}">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Shubuh</label>
                <input name="shubuh" type="text" class="form-control" id="exampleFormControlInput1" placeholder="shubuh" value="{{jadwal.shubuh}}">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Terbit</label>
                <input name="terbit" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Terbit" value="{{jadwal.terbit}}">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Dhuha</label>
                <input name="dhuha" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Dhuha" value="{{jadwal.dhuha}}">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Dzuhur</label>
                <input name="dzuhur" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Dzuhur" value="{{jadwal.dzuhur}}">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Ashr</label>
                <input name="ashr" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ashr" value="{{jadwal.ashr}}">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Maghrib</label>
                <input name="magrib" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Maghrib" value="{{jadwal.maghrib}}">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Isya</label>
                <input name="isya" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Isya" value="{{jadwal.isya}}">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  
{% endblock content %}